<div id="modal6" class="modal modal-fixed-footer lesPGM">
    <div class="modal-content">
        <h5>LES DÉVELOPPEURS</h5><br/>      
        <!--Modale avec les développeurs : Johan-->
        <div class="row dev">
            <div class="col s12 m3 l3">
                <img class="photomodalfooter circle" src="assets/img/jeanjohan.jpg">
            </div>
            <div class="alignmodal">
                <div class="col s12 m3 l3">
                    <p>Johan Hélias</p>
                </div>
                <div class="col s12 m6 l6">
                    <img class="logoModal6" src="assets/img/linkedinLogo.png">
                    <a target="_blank" href="https://fr.linkedin.com/in/johan-helias-a70a94122">
                        Linkedin</a>
                    <img class="logoModal6" src="assets/img/githubLogo.png">
                    <a target="_blank" href="https://github.com/medaak">
                        Github</a>
                </div>
            </div>
        </div>
        <!--Modale avec les développeurs : Sylvain-->
        <div class="row dev">
            <div class="col s12 m3 l3">
                <img class="photomodalfooter circle" src="assets/img/jeansylvain.jpg">
            </div>
            <div class="alignmodal">
                <div class="col s12 m3 l3">
                    <p>Sylvain Labarre</p>
                </div>
                <div class="col s12 m6 l6">
                    <img class="logoModal6" src="assets/img/linkedinLogo.png">
                    <a target="_blank" href="https://fr.linkedin.com/in/sylvain-labarre-962502129/fr">
                        Linkedin</a>
                    <img class="logoModal6" src="assets/img/githubLogo.png">
                    <a target="_blank" href="https://github.com/Jipsian">
                        Github</a>
                </div>
            </div>
        </div>
        <!--Modale avec les développeurs : Gaëlle-->
        <div class="row dev">
            <div class="col s12 m3 l3">
                <img class="photomodalfooter circle" src="assets/img/mariegaelle.jpg">
            </div>
            <div class="alignmodal">
                <div class="col s12 m3 l3">
                    <p>Gaëlle Morin</p>
                </div>
                <div class="col s12 m6 l6">
                    <img class="logoModal6" src="assets/img/linkedinLogo.png">
                    <a target="_blank" href="https://www.linkedin.com/in/ga%C3%ABlle-morin-3a0b8551">
                        Linkedin</a>
                    <img class="logoModal6" src="assets/img/githubLogo.png">
                    <a target="_blank" href="https://github.com/Daedalus418">
                        Github</a>
                </div>
            </div>
        </div>
        <br/>
        <!--Modale avec les développeurs : Wild Code School-->
        <img id="logoWcsModal" src="assets/img/Logo-WCS.png">
        <br/>
        <h6>Wild Code School</h6>
    </div>
</div>
