<div class="admninistration">
    <br><br>

    <div class="nuagehautadmin">
        <img src="assets/img/nuageblanc.png">
    </div>

    <div class="contenuAdmin">
        <h3>Page d'administration</h3>
        <br>
        <div class="boutonAdmin">
            <a id="boutonActivites" class="waves-effect waves-light btn-large orangeColor">Activités</a>
            <a id="boutonInfos" class="waves-effect waves-light btn-large purpleColor">Infos pratiques</a>
            <a id="boutonPart" class="waves-effect waves-light btn-large orangeColor">Partenaires</a>
        </div>
        <br>
        <div id="modifActivites" style="display: none">
            <a class="waves-effect waves-light btn-large blueColor">
                <i ng-click='vm.addActivity()' class="material-icons right">playlist_add</i>Ajouter une activité</a>
            <a class="waves-effect waves-light btn-large blueColor">
                <i ng-click='vm.deleteActivity()' class="material-icons right">delete</i>Supprimer une activité</a>
        </div>
        <div id="modifInfosPratiques" style="display: none">
            <a class="waves-effect waves-light btn-large blueColor">
                <i class="material-icons right">playlist_add</i>Ajouter une info pratique</a>
            <a class="waves-effect waves-light btn-large blueColor">
                <i class="material-icons right">mode_edit</i>Modifier une info pratique</a>
            <a class="waves-effect waves-light btn-large blueColor">
                <i class="material-icons right">delete</i>Supprimer une info pratique</a>
        </div>
        <div id="modifPartenaires" style="display: none">
            <a class="waves-effect waves-light btn-large blueColor">
                <i class="material-icons right">playlist_add</i>Ajouter un partenaire</a>
            <a class="waves-effect waves-light btn-large blueColor">
                <i class="material-icons right">delete</i>Supprimer un partenaire</a>
        </div>
    </div>
    <div class="nuagebasadmin">
        <img src="assets/img/nuageblancinverse.png">
    </div>
    <br>
</div>
