<!-- Accueil page d'administration -->
<div class="admninistration">
    <br><br>
    <!--Haut du nuage-->
    <div class="nuagehautadmin">
        <img src="assets/img/nuageblanc.png">
    </div>
    <!--Titre page-->
    <div class="contenuAdmin">
        <h3>Page d'administration</h3>
        <div class="retourAdmin">
            <a href="/#/">
                <i class="material-icons">input</i>
                Retour à l'accueil
            </a>
        </div>
        <!-- Boutons -->
        <div class="cadre">
            <!-- Boutons activités, infos pratiques et partenaires-->
            <div class="boutonAdmin">
                <a id="boutonActivites" class="waves-effect waves-light btn-large orangeColor">Activités</a>
                <a id="boutonInfos" class="waves-effect waves-light btn-large purpleColor">Infos pratiques</a>
                <a id="boutonPart" class="waves-effect waves-light btn-large orangeColor">Partenaires</a>
            </div>
            <br>
            <!-- Bouton pour modifier une activité -->
            <div id="modifActivites" style="display: none">
                <a class="waves-effect waves-light btn-large blueColor" href="/#/editActivity">
                    <i ng-click='vm.editActivity()' class="material-icons right">mode_edit</i>Modifier une activité</a>
            </div>
            <!-- Bouton pour modifier une info pratique -->
            <div id="modifInfosPratiques" style="display: none">
                <a class="waves-effect waves-light btn-large blueColor" href="/#/editInfo">
                    <i ng-click='vm.editInfo()' class="material-icons right">mode_edit</i>Modifier une info</a>
            </div>
            <!-- Boutons pour ajouter et supprimer un partnaire -->
            <div id="modifPartenaires" style="display: none">
                <a class="waves-effect waves-light btn-large blueColor" href="/#/createPartenaire">
                    <i ng-click='vm.createPartenaire()' class="material-icons right">playlist_add</i>Ajouter un partenaire</a>
                <a class="waves-effect waves-light btn-large blueColor" href="/#/deletePartenaire">
                    <i ng-click='vm.deletePartenaire()' class="material-icons right">delete</i>Supprimer un partenaire</a>
            </div>
        </div>
    </div>
    <!--Bas du nuage-->
    <div class="nuagebasadmin">
        <img src="assets/img/nuageblancinverse.png">
    </div>
    <br>
</div>
