<!-- Footer-->
<footer>
    <!-- Bouton pour ouvrir la modale des Mentions Légales + lien vers la page d'administration-->
    <div class="col s12 container">
        <a class="modal-trigger modal5 waves-teal btn-flat blue" href="#modal5">Mentions légales</a>
        <a class="modal-trigger modal5 waves-teal btn-flat blue" href="/#/admin">Administration</a>
        <!--Modale des mentions légales-->
        <ng-include src="'views/modale/modaleMentionsLegales.html'"></ng-include>
        <!--Texte footer + Modale avec les développeurs-->
        <div>
            © 2016 Réalisé par les élèves de la Wild Code School
            <img src="assets/img/Logo-WCS.png" id="logowcs">
            <!--Lien vers modale avec les développeurs-->
            <a class="modal-trigger modal6 waves-teal blue" href="#modal6">
                Gaëlle Morin, Johan Hélias, Sylvain Labarre</a>
            <!--Modale avec les développeurs-->
            <ng-include src="'views/modale/modaleDeveloppeurs.html'"></ng-include>

        </div>
    </div>
</footer>
