<div class="row">
    <div class="col-4">
        <div class='text-center'>
            <h3>Sign in to your account</h3>
        </div>
        <form class="form-horizontal" name="formConnect">
            <div class="form-group">
                <label for="email" class="col-s2 control-label">Email</label>
                <div class="col-s-10">
                    <input type="email" class="form-control" id="email" placeholder="Email" ng-model='vm.email' ng-required='true'>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-s2 control-label">Password</label>
                <div class="col-s10">
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model='vm.password' ng-required='true'>
                </div>
            </div>
            <div class="form-group">
                <div class="col offset-2 col-s10">
                    <button ng-click='vm.login()' ng-disabled="formConnect.$invalid" class="btn btn-primary pull-right">Sign in</button>
                    <button ng-click='vm.createAccount()' ng-disabled="formConnect.$invalid" class="btn btn-link pull-right">Sign up</button>
                </div>
            </form>
            <div ng-show="(vm.loginMessage)" class="alert" ng-class="{'alert-danger': vm.loginMessage.type == 'error', 'alert-success': vm.loginMessage.type == 'success', 'alert-info': vm.loginMessage.type == 'info'}">
                <h4>
                    <span class="glyphicon glyphicon-exclamation-sign pull-left"></span>&nbsp;{{vm.loginMessage.title}}</h4>
                <p>{{vm.loginMessage.message}}</p>
            </div>
        </div>
    </div>
    <div class="nuagebasadmin">
        <img src="assets/img/nuageblancinverse.png">
    </div>
    <br>
</div>
