<div class="login">
    <br><br>

    <div class="nuagehautlogin">
        <img src="assets/img/nuageblanc.png">
    </div>

    <div class="contenuLogin">
        <div class="row">
            <div class="col s12 ">
                <h3>Connectez-vous</h3>
                <form>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" ng-model='vm.email' ng-required='true'>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" ng-model='vm.password' ng-required='true'>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s8 offset-s4">
                            <button ng-click='vm.login()' ng-disabled="formConnect.$invalid" class="btn-large waves-effect waves-light orangeColor" type="submit" name="action">Se connecter
                                <i class="material-icons right">send</i>
                            </button>
                            <button ng-click='vm.createAccount()' ng-disabled="formConnect.$invalid" class="btn-large waves-effect waves-light purpleColor" type="submit" name="action">Créer un compte
                                <i class="material-icons right">mode_edit</i>
                            </button>
                            <div ng-show="(vm.loginMessage)">
                                <h4>{{vm.loginMessage.title}}</h4>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="nuagebaslogin">
        <img src="assets/img/nuageblancinverse.png">
    </div>
    <br>
</div>
