<div class="parallax-container">
    <div class="parallax"><img src="assets/img/comptine.jpg"></div>
    <!-- Nuage1-->
    <!-- Image haut du nuage 1 -->
    <div class="nuagehaut">
        <img src="assets/img/nuageblanc.png">
    </div>
</div>
<ng-include src="'views/clouds/cloud1.html'"></ng-include>
<div class="parallax-container">
    <!-- Image bas du nuage 1 -->
    <div class="nuagebas">
        <img src="assets/img/nuageblancinverse.png">
    </div>
    <!-- Image parallax -->
    <div class="parallax"><img src="assets/img/table.jpg">
    </div>
    <!-- Nuage 2-->
    <!-- Image haut du nuage 2 -->
    <div class="nuagehaut">
        <img src="assets/img/nuageblanc.png">
    </div>
</div>
<ng-include src="'views/clouds/cloud2.html'"></ng-include>
<div class="parallax-container">
    <!-- Image bas du nuage 2 -->
    <div class="nuagebas">
        <img src="assets/img/nuageblancinverse.png">
    </div>
    <!-- Image parallax -->
    <div class="parallax"><img src="assets/img/lits.jpg">
    </div>
    <!-- Nuage 3-->
    <!-- Image haut du nuage 3 -->
    <div class="nuagehaut">
        <img src="assets/img/nuageblanc.png">
    </div>
</div>
<ng-include src="'views/clouds/cloud3.html'"></ng-include>
<div class="parallax-container">
    <!-- Image bas du nuage 3 -->
    <div class="nuagebas">
        <img src="assets/img/nuageblancinverse.png">
    </div>
    <!-- Image parallax -->
    <div class="parallax"><img src="assets/img/train.jpg"></div>
    <!-- Nuage 4-->
    <!-- Image haut du nuage 4 -->
    <div class="nuagehaut">
        <img src="assets/img/nuageblanc.png">
    </div>
</div>
<ng-include src="'views/clouds/cloud4.html'"></ng-include>
<div class="parallax-container">
    <!-- Image bas du nuage 4 -->
    <div class="nuagebas">
        <img src="assets/img/nuageblancinverse.png">
    </div>
    <!-- Image parallax -->
    <div class="parallax"><img src="assets/img/table.jpg"></div>

    <!-- Nuage 5 : Activités -->
    <!-- Image haut du nuage 5 -->
    <div class="nuagehaut">
        <img src="assets/img/nuageblanc.png">
    </div>
</div>
<ng-include src="'views/clouds/cloud5.html'"></ng-include>
<div class="parallax-container">
    <!-- Image bas du nuage 5 -->
    <div class="nuagebas">
        <img src="assets/img/nuageblancinverse.png">
    </div>
    <!-- Image parallax -->
    <div class="parallax"><img src="assets/img/salle.jpg"></div>
    <!-- Nuage 6 : Partenaires-->
    <!-- Image haut du nuage 6 -->
    <div class="nuagehaut">
        <img src="assets/img/nuageblanc.png">
    </div>
</div>
<ng-include src="'views/clouds/cloud6.html'"></ng-include>
<div class="parallax-container">
    <!-- Image bas du nuage 6 -->
    <div class="nuagebas">
        <img src="assets/img/nuageblancinverse.png">
    </div>
    <!-- Image parallax -->
    <div class="parallax"><img src="assets/img/kitchen.jpg"></div>
</div>
