<ng-include src="'views/parallax/parallax1.html'"></ng-include>

<ng-include src="'views/clouds/cloud1.html'"></ng-include>

<ng-include src="'views/parallax/parallax2.html'"></ng-include>

<ng-include src="'views/clouds/cloud2.html'"></ng-include>

<ng-include src="'views/parallax/parallax3.html'"></ng-include>

<ng-include src="'views/clouds/cloud3.html'" onload='vm.carousel()'></ng-include>

<ng-include src="'views/parallax/parallax4.html'"></ng-include>

<ng-include src="'views/clouds/cloud4.html'"></ng-include>

<ng-include src="'views/parallax/parallax5.html'"></ng-include>

<ng-include src="'views/clouds/cloud5.html'"></ng-include>

<ng-include src="'views/parallax/parallax6.html'"></ng-include>

<ng-include src="'views/clouds/cloud6.html'"></ng-include>

<ng-include src="'views/parallax/parallax7.html'" onload="vm.carouselparallax()"></ng-include>
