<header ng-controller='navbarController'>
    <div class="row">
        <div id="titre" class="col s12">
            <div class="col s2">
                <div class="row valign-wrapper"></div>
            </div>
            <div class="col s8">
                <h1>LA MAM AUX TRÉSORS</h1>
                <h2>3 place du Champ de Foire 61 100 RÉMALARD-EN-PERCHE</h2>
                <p class="contact"><img src="" alt=""/>
                    <span id="telephone">
                        02.01.03.04.05</span><img src="" alt=""/>
                    lamamauxtresorsremalard@gmail.com</p>
            </div>
        </div>
    </div>

    <nav>
        <div class="nav-wrapper blue">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>
                    <a class="js-scrollTo" href="#nuage1">Qui sommes-nous ?</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#nuage2">Notre actualité</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#nuage3">Nos locaux</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#nuage4">Infos pratiques</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#nuage5">Nos activités</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#nuage6">Partenaires</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
