<header ng-controller='navbarController'>
    <div class="row">
        <div id="titre" class="col s12">
            <div class="col s2">
                <div class="row valign-wrapper"></div>
                <img src="assets/img/logo.jpg" class="petitlogo" alt=""/>
            </div>
            <div id="entete" class="col s8">
                <h1>
                    LA<span id="purpletitle">
                        MAM</span>
                    AUX
                    <span id="purpletitle">TRÉSORS</span>
                </h1>
                <h2>3 place du Champ de Foire 61 100 RÉMALARD-EN-PERCHE</h2>
                <p class="contact"><img src="assets/img/phone.png" class="pimage" alt="phone"/>
                    <span id="telephone">
                        02.33.25.87.42
                    </span><img src="assets/img/mail.png" class="pimage" alt="mail"/>
                    lamamauxtresorsremalard@gmail.com</p>
            </div>
        </div>
    </div>

    <nav class="navbar" navbar-fix>
        <div class="nav-wrapper blue">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>
                    <a class="js-scrollTo" href="#titre">Accueil</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#nuage1">Qui sommes-nous ?</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#nuage2">Actualités</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#nuage3">Locaux</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#nuage4">Infos pratiques</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#nuage5">Activités</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#nuage6">Partenaires</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
