/*Ensemble de la page*/

* {
    margin: 0;
    padding: 0;
}

.page {
    min-height: 44vh;
}


/*Bannière présentation*/

#titre {
    font-family: 'Amatic SC', cursive;
    color: #2196f3;
    text-align: center;
}

.petitlogo {
    width: 160px;
    height: 120px;
    position: absolute;
    top: 85px;
}

.pimage {
    width: 45px;
    height: 45px;
}

h1 {
    font-size: 80px;
    margin: 15px 0 15px 0;
    font-weight: bold;
    color: #E84E0C;
}

h1 span {
    color: #B814B2;
}

h2 {
    font-size: 50px;
    margin: 0;
}

#telephone {
    font-weight: bold;
}

.contact {
    font-family: 'Amatic SC', cursive;
    font-size: 45px;
    margin: 0;
}


/*Barre de navigation*/

.fixed-top {
    top: 0;
    position: fixed;
    z-index: 4;
}

.nav-wrapper {
    background-color: #6291CF;
}

.nav-wrapper a {
    font-family: 'Amatic SC', cursive;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: bold;
}


/*Intérieur des nuages*/

#Presentation {
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: #2196f3;
    font-weight: bold;
}

.PresentationMAM {
    text-align: center;
    color: #2196f3;
    font-weight: bold;
}

.imagemam {
    width: 200px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px #A8C6FA solid;
}

.imagemodal{
    width:300px;
    height: 225px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px #A8C6FA solid;
}

.textmodal{
    margin: 30px 30px 30px 30px;
}
.cadre {
    margin: 30px 30px 30px 30px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    color: #1e88e5;
    font-family: 'Poiret One', cursive;
    font-size: 16px;
}

h3 {
    font-family: 'Amatic SC', cursive;
    color: #1e88e5;
    font-weight: bold;
    text-align: center;
    padding: 0 0 5px 0;
    margin: 0;
}

h4 {
    font-family: 'Amatic SC', cursive;
    color: #1e88e5;
    background-color: #FFFFFF;
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: 65px;
    padding: 0 5px 0 5px;
}

h5{
   font-family: 'Poiret One', cursive;
   color: #1e88e5;
   font-size: 25px;
   font-weight: bold;
}

p {
    font-family: 'Poiret One', cursive;
    font-size: 18px;
}

.material-icons {
  position: relative;
  margin-left: 35%;
}

.material-icons.orangeColor {
    color: #FF340D;
}

.material-icons.purpleColor {
    color: #950094;
}

.presentationActivites {
    text-align: center;
    color: #6291CF;
    font-weight: bold;
}

.titresActivites {
    font-size: 19px;
}

.descriptionActivite {
    margin-top: 30px;
    margin-bottom: 40px;
}

.presentationPartenaires {
    text-align: center;
    color: #6291CF;
    font-weight: bold;
}

.imagePartenaires {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px #A8C6FA solid;
}


/*Positionnement des nuages*/

.nuagehaut {
    position: absolute;
    bottom: 0;
    margin-bottom: -7px;
    width: 100%;
}

.nuagebas {
    position: absolute;
    top: 0;
    margin-top: -6px;
    width: 100%;
}


/*Carousels*/

.carouselleft {
    margin: 112px 30px 30px 30px;
    border: 5px solid #2196f3;
}

.carouselright {
    margin: 112px 30px 30px -30px;
    border: 5px solid #2196f3;
    width: 700px;
    margin-top: -50px;
    margin-bottom: 10px;
}


/*Footer*/

footer {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poiret One', cursive;
    margin: 0;
    padding: 1px 1px 1px 1px;
    background-color: #2196f3;
    color: white;
}

#ML {
    color: white;
    ##6291CF text-decoration: none;
}

#logowcs {
    height: 20px;
    width: 20px;
}

.MLCGU p{
    color: grey;
    font-size: 20px;
    text-align: left;
}

.MLCGU h6{
    color: #1e88e5;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

/*Partie admnistrable*/

.boutonAdmin, #modifActivites, #modifInfosPratiques, #modifPartenaires {
    text-align: center;
}

.nuagehautadmin {
    margin-bottom: -30px;
    width: 100%;
}

.nuagebasadmin {
    margin-top: -23px;
    width: 100%;
}

.admninistration {
    background-color: #B4D4FF;
}

.contenuAdmin {
    background-color: white;
    padding-bottom: 30px;
}

.btn-large.orangeColor {
  background-color: #FF340D;
}

.btn-large.purpleColor {
  background-color: #950094;
}

.btn-large.blueColor {
  background-color: #2196F3;
}
