* {
  margin: 0;
  padding: 0;
}

.page{
min-height: 44vh;
}

#titre {
  font-family: 'Amatic SC', cursive;
  color: #0C59CF;
  text-align: center;
}

h1 {
  font-size: 90px;
}

#telephone {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
}

.nav-wrapper {
  background-color: #6291CF
}

.nav-wrapper a {
  font-family: 'Amatic SC', cursive;
  color: #FFFFFF;
  font-size: 35px;
}

h3 {
  font-family: 'Amatic SC', cursive;
  color: #0C59CF;
}

p {
  font-family: 'Poiret One', cursive;
}


.nuagehaut {
position:absolute;
bottom:0;
margin-bottom:-6px;
}

.nuagebas {
position:absolute;
top:0;
margin-top:-6px;
}

footer {
  min-height: 50px;
  color: #76ABF9;
  font-size: 25px;
}
