<!-- Nuage5 : Nos activités -->
<div>
    <div id="nuage5" class="row">
        <!-- Nuage5 : Encadré avec le descriptif-->
        <div class="col s12">
            <h3>Nos activités</h3>
            <div class="cadre">
                <ul>
                    <li>
                        <span class="titresActivites">Jeux libres :</span>
                        un espace sécurisé, dédié aux nourrissons, afin de favoriser leur éveil.</li>
                    <li>
                        <span class="titresActivites">Activités dirigées :</span>
                        afin de favoriser l'autonomie et le plaisir de l'enfant.</li>
                    <li>
                        <span class="titresActivites">Sorties en petits groupes :</span>
                        RAM, ludothèque, parc,... pour les plus grands.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
