<div class="parallax-container">
    <!-- Image bas du nuage 5 -->
    <div class="nuagebas">
        <img src="assets/img/nuageblancinverse.png">
    </div>
    <!-- Image parallax -->
    <div class="parallax"><img src="assets/img/salle.jpg"></div>
    <!-- Nuage 6 : Partenaires-->
    <!-- Image haut du nuage 6 -->
    <div class="nuagehaut">
        <img src="assets/img/nuageblanc.png">
    </div>
</div>
<div class="page container-fluid">
    <div id="nuage6" class="row">
        <!-- Nuage6 : Partenaires contient les logos et un titre en dessous WESH GROS -->
        <div id="partenaires">
            <h3>Partenaires</h3>
        </div>
    </div>
</div>
<div class="parallax-container">
    <!-- Image bas du nuage 6 -->
    <div class="nuagebas">
        <img src="assets/img/nuageblancinverse.png">
    </div>
    <!-- Image parallax -->
    <div class="parallax"><img src="assets/img/kitchen.jpg"></div>
</div>
