<!-- Nuage1 : Qui Sommes-Nous? -->
<div>
    <div id="nuage1" class="row">
        <!-- Nuage1 : Carrousel -->
        <div class="col s3">
            <div class="carousel carousel-slider" data-indicators="true">
                <a class="carousel-item" href="#one!"><img src="https://placehold.it/200x150"></a>
                <a class="carousel-item" href="#two!"><img src="https://placehold.it/200x150"></a>
                <a class="carousel-item" href="#three!"><img src="https://placehold.it/200x150"></a>
                <a class="carousel-item" href="#four!"><img src="https://placehold.it/200x150"></a>
            </div>
        </div>
        <div id="quisommesnous" class="col s9">
            <h3>Qui sommes-nous?</h3>
        </div>
    </div>
</div>
