<div class="parallax-container">
    <!-- Image bas du nuage 1 -->
    <div class="nuagebas">
        <img src="assets/img/nuageblancinverse.png">
    </div>
    <!-- Image parallax -->
    <div class="parallax"><img src="assets/img/table.jpg">
    </div>
    <!-- Nuage 2-->
    <!-- Image haut du nuage 2 -->
    <div class="nuagehaut">
        <img src="assets/img/nuageblanc.png">
    </div>
</div>
<div class="page container-fluid">
    <div id="nuage2" class="row">
        <!-- Nuage2 : Carrousel -->
        <div class="carrousel col s4"></div>
        <!-- Nuage2 : Encadré de gauche -->
        <div id="locaux" class="col s8">
            <h3>Locaux</h3>
            <p></p>
        </div>
    </div>
</div>
