<!-- Nuage4 : Nos locaux -->
<div>
    <div id="nuage3" class="row">
        <!-- Nuage4 : Encadré de gauche -->
        <div class="col s12">
            <h3>Nos Locaux</h3>
            <hr/>
            <div class="cadre">
                <div class="carousel carousel-slider carouselright">
                    <a class="carousel-item"><img src="assets/img/MAM1-2.jpg"></a>
                    <a class="carousel-item"><img src="assets/img/beds.jpg"></a>
                    <a class="carousel-item"><img src="assets/img/MAM3-2.jpg"></a>
                    <a class="carousel-item"><img src="assets/img/livres.jpg"></a>
                    <a class="carousel-item"><img src="assets/img/MAM5.jpg"></a>
                </div>
            </div>
        </div>
    </div>
</div>
