<!-- Nuage1 : Qui Sommes-Nous? -->
<div>
    <div id="nuage1" class="row">
        <!-- Nuage1 : Carrousel -->
        <!--<div class="col s3">
            <div class="carousel carousel-slider carouselleft" data-indicators="true">
                <a class="carousel-item" href="#one!"><img src="assets/img/Armelle.jpg"></a>
                <a class="carousel-item" href="#two!"><img src="assets/img/Cecile.jpg"></a>
                <a class="carousel-item" href="#three!"><img src="assets/img/Isabelle.jpg"></a>
                <a class="carousel-item" href="#four!"><img src="assets/img/Elodie.jpg"></a>
            </div>
        </div>-->
        <div class="col s12">
            <h3>Qui sommes-nous?</h3>
            <div class="cadre">
                <p>Nous sommes 4 assistantes maternelles regroupées dans le cadre d’une Maison d’Assistants Maternels (MAM) à Rémalard-en-Perche.
                L’accueil des enfants s’effectue dans une structure adaptée aux besoins des enfants. La MAM aux trésors offre aux enfants un espace dédié à leur épanouissement et à leur éveil.
                N’hésitez pas à nous contacter pour de plus amples explications. A très bientôt.</p>
                <p>Isabelle CHARRON<br/>Assistante maternelle agréée depuis 1999. J’ai souhaité travailler en Maison d’Assistantes Maternelles, afin de valoriser mon métier,
                d'évoluer dans un espace de petite taille qui soit adapté aux enfants, et de travailler en équipe afin d’échanger sur notre métier.
                Je suis patiente, à l’écoute des enfants et je souhaite mettre à profit mon savoir-faire et ma créativité.</p>
                <p>Cécile BONNARD<br/>Assistante maternelle agréée depuis 2012. J’ai obtenu mon CAP petite enfance en 2015. Je suis dynamique, à l’écoute des enfants, créative, patiente.
                J’ai voulu travailler dans une MAM pour rompre avec l’isolement et partager en équipe un travail de qualité.</p>
                <p>Armelle TROUILLET<br/>Assistante maternelle agréée depuis 2004. Après avoir travaillé en crèche pendant un an et demi, j’ai décidé de demander mon agrément d’assistante maternelle afin de m’épanouir et
                d'appréhender l’évolution des enfants que l’on accueille. Le travail en MAM me permet de travailler en équipe et de pouvoir réaliser davantage d’activités avec les enfants.</p>
                <p>Elodie RENEVOT<br/>Assistante maternelle agréée depuis 2014, j’ai travaillé deux ans en crèche avant de rejoindre la MAM. Je suis titulaire d’un CAP petite enfant et d’une licence en psychologie. J’ai souhaité
                travailler en MAM afin d’accueillir des petits groupes d’enfants et de pouvoir développer avec eux une relation privilégiée.</p>
            </div>
        </div>
    </div>
</div>
