<!-- Nuage5 : Nos activités -->
<div id="nuage5" class="row">
    <!-- Nuage5 : Encadré avec le descriptif-->
    <div class="col s12">
        <h3>Nos activités</h3>
        <div class="cadre">
            <div class="col s4 m4 l4 alignementColonne">
                <i class="medium material-icons orangeColor">&#xE87B;</i>
                <h5>Jeux libres</h5>
                <div class="description">Un espace sécurisé, dédié aux nourrissons, afin de favoriser leur éveil.</div>
            </div>
            <div class="col s4 m4 l4 alignementColonne">
                <i class="medium material-icons purpleColor">&#xE3B7;</i>
                <h5>Activités dirigées</h5>
                <div class="description">Afin de favoriser l'autonomie et le plaisir de l'enfant, ils auront la possibilité de participer à des jeux ludiques, des activités manuelles, des chants, des ateliers jardinage et cuisine.</div>
            </div>
            <div class="col s4 m4 l4 alignementColonne">
                <i class="medium material-icons orangeColor">&#xE430;</i>
                <h5>Sorties en petits groupes</h5>
                <div class="description">Bibliothèque, ludothèque, parc... pour les plus grands.</div>
            </div>
        </div>
    </div>
</div>
