<!-- Nuage1 : Qui Sommes-Nous? -->
<div id="nuage1" class="row">
    <!-- Nuage1 : Carrousel -->
    <div class="col s12">
        <h3>Qui sommes-nous?</h3>
        <hr/>
        <div class="cadre">
            <p id="Presentation">Nous sommes 4 assistantes maternelles regroupées dans le cadre d’une Maison d’Assistantes Maternelles (MAM) à Rémalard-en-Perche. Nous accueillons les enfant dans un espace adapté à leurs besoins. Nous leur proposons des espaces dédiés à leur épanouissement ainsi que des activités correspondant à leur âge. N’hésitez pas à nous contacter pour de plus amples explications.<br/>A très bientôt.</p>
            <div class="row section">
                <!--Présentation Cécile-->
                <div class="col xs12 s6 m3 l3 PresentationMAM">
                    <h5>Cécile BONNARD</h5>
                    <img src="assets/img/cecile.jpg" alt="Cecile" class="imagemam">
                    <a class="modal-trigger modal2 waves-effect waves-light btn blue" href="#modal2">Qui suis-je?</a>
                    <div id="modal2" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h5>Cécile BONNARD</h5>
                            <br/>
                            <img src="assets/img/cecile.jpg" alt="Cecile" class="imagemodal">
                            <br/>
                            <p class="textmodal">Assistante maternelle agréée depuis 2012. J’ai obtenu mon CAP petite enfance en 2015. Je suis dynamique, à l’écoute des enfants, créative, patiente. J’ai voulu travailler dans une MAM pour rompre avec l’isolement et partager en
                                équipe un travail de qualité.</p>
                        </div>
                    </div>
                </div>
                <!--Présentation Isabelle-->
                <div class="col xs12 s6 m3 l3 PresentationMAM">
                    <h5>Isabelle CHARRON</h5>
                    <img src="assets/img/isabelle.jpg" alt="Isabelle" class="imagemam">
                    <a class="modal-trigger modal1 waves-effect waves-light btn blue" href="#modal1">Qui suis-je?</a>
                    <div id="modal1" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h5>Isabelle CHARRON</h5>
                            <br/>
                            <img src="assets/img/isabelle.jpg" alt="Isabelle" class="imagemodal">
                            <br/>
                            <p class="textmodal">Assistante maternelle agréée depuis 1999. J’ai souhaité travailler en MAM, afin de valoriser mon métier, d'évoluer dans un espace de petite taille qui soit adapté aux enfants, et de travailler en
                                équipe afin d’échanger sur notre métier. Je suis patiente, à l’écoute des enfants et je souhaite mettre à profit mon savoir-faire et ma créativité.</p>
                        </div>
                    </div>
                </div>
                <!--Présentation Elodie-->
                <div class="col xs12 s6 m3 l3 PresentationMAM">
                    <h5>Elodie RENEVOT</h5>
                    <img src="assets/img/Elodie.jpg" alt="Elodie" class="imagemam">
                    <a class="modal-trigger modal4 waves-effect waves-light btn blue" href="#modal4">Qui suis-je?</a>
                    <div id="modal4" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h5>Elodie RENEVOT</h5>
                            <br/>
                            <img src="assets/img/Elodie.jpg" alt="Elodie" class="imagemodal">
                            <br/>
                            <p class="textmodal">Assistante maternelle agréée depuis 2014, j’ai travaillé deux ans en crèche avant de rejoindre la MAM. Je suis titulaire d’un CAP petite enfant et d’une licence en psychologie. J’ai souhaité travailler en MAM afin d’accueillir
                                des petits groupes d’enfants et de pouvoir développer avec eux une relation privilégiée.</p>
                        </div>
                    </div>
                </div>
                <!--Présentation Armelle-->
                <div class="col xs12 s6 m3 l3 PresentationMAM">
                    <h5>Armelle TROUILLET</h5>
                    <img src="assets/img/Armelle.jpg" alt="Armelle" class="imagemam">
                    <a class="modal-trigger modal3 waves-effect waves-light btn blue" href="#modal3">Qui suis-je?</a>
                    <div id="modal3" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h5>Armelle TROUILLET</h5>
                            <br/>
                            <img src="assets/img/Armelle.jpg" alt="Armelle" class="imagemodal">
                            <br/>
                            <p class="textmodal">Assistante maternelle agréée depuis 2004. Après avoir travaillé en crèche pendant un an et demi, j’ai décidé de demander mon agrément d’assistante maternelle afin de m’épanouir et d'appréhender l’évolution des enfants que l’on
                                accueille. Le travail en MAM me permet de travailler en équipe et de pouvoir réaliser davantage d’activités avec les enfants.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
