<!-- Nuage4 : infos pratiques -->
<div id="nuage4" class="row">

    <!-- Nuage4 : Trois icones présentant les horaires, les tarifs, les services -->
    <div class="col s12">

        <h3>Infos pratiques</h3>

        <div class="cadre">
            <div class="row">
                <div class="col s4 m4 l4 alignementColonne">
                    <div class="description">
                        <!-- icon for IE9 or below. -->
                        <i class="medium material-icons orangeColor">&#xE192;</i>
                        <p>
                            07H30 à 19H30 du lundi au vendredi<br/>
                            07H30 à 12H30 le samedi<br/>
                            Les horaires d'ouvertures seront également en fonction des contrats.
                        </p>
                    </div>
                </div>

                <div class="col s4 m4 l4 alignementColonne">
                    <div class="description">
                        <!-- icon for IE9 or below. -->
                        <i class="medium material-icons purpleColor">&#xE926;</i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/>
                            Quisque eget.</p>
                    </div>
                </div>

                <div class="col s4 m4 l4 alignementColonne">
                    <div class="description">
                        <!-- icon for IE9 or below.                                                                                                           -->
                        <i class="medium material-icons orangeColor">&#xEB41;</i>
                        <ul>
                            <li>Ouvert toute l'année.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s4 m4 l4">
                    <p>
                        <a href="">Téléchargez</a>
                        le document relatif à notre projet d'accueil.
                    </p>
                </div>

                <div class="col s4 m4 l4">
                    <p>
                        <a href="">Téléchargez</a>
                        notre règlement.
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>
