<!-- Nuage2 : Notre actualité -->
<div>
    <div id="nuage2" class="row">
        <!-- Nuage2 : Encadré avec les actualités Facebook -->
        <div>
            <h3>Les Actualités</h3>
            <hr/>


                <div class="fb-page" data-href="https://www.facebook.com/La-Mam-aux-Tr%C3%A9sors-%C3%A0-R%C3%A9malard-555980124540600/" data-tabs="timeline" data-width="1000" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/La-Mam-aux-Tr%C3%A9sors-%C3%A0-R%C3%A9malard-555980124540600/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/La-Mam-aux-Tr%C3%A9sors-%C3%A0-R%C3%A9malard-555980124540600/">La Mam aux Trésors à Rémalard</a></blockquote></div>
        </div>
    </div>
</div>
