<div class="parallax-container">
    <!-- Image bas du nuage 3 -->
    <div class="nuagebas">
        <img src="assets/img/nuageblancinverse.png">
    </div>
    <!-- Image parallax -->
    <div class="parallax"><img src="assets/img/train.jpg"></div>
    <!-- Nuage 4-->
    <!-- Image haut du nuage 4 -->
    <div class="nuagehaut">
        <img src="assets/img/nuageblanc.png">
    </div>
</div>
<div class="page container-fluid">
    <div id="nuage4" class="row">
        <!-- Nuage4 : Trois icones présentant les horaires, les tarifs, les services -->
        <div id="infospratiques">
            <h3>Infos pratiques</h3>
        </div>
    </div>
</div>
