<!-- Nuage4 : infos pratiques -->
<div>

    <div id="nuage4" class="row">

        <!-- Nuage4 : Trois icones présentant les horaires, les tarifs, les services -->
        <div class="col s10 offset-s1">

            <h3>Infos pratiques</h3>

            <div class="row">

                <div class="col s4 m4 l4">
                    <!-- For modern browsers. -->
                    <i class="material-icons orange600">access_time</i>
                    <!-- For IE9 or below. -->
                    <i class="material-icons">&#xE192;</i>
                    <h4>Horaires</h4>
                    <p class="borderLight">
                      06H00 à 19H30 du lundi au vendredi<br />
                      06H00 à 12H30 le samedi<br />
                      Les horaires d'ouvertures seront également en fonction des contrats.                    </p>
                </div>

                <div class="col s4 m4 l4">
                    <!-- For modern browsers. -->
                    <i class="material-icons">euro_symbol</i>
                    <!-- For IE9 or below. -->
                    <i class="material-icons">&#xE926;</i>
                    <h4>Tarifs</h4>
                    <p class="borderLight"></p>
                </div>

                <div class="col s4 m4 l4">
                    <!-- For modern browsers. -->
                    <i class="material-icons orange600">access_time</i>
                    <!-- For IE9 or below.                                                                                                           -->
                    <i class="material-icons">&#xE192;</i>
                    <h4>Horaires</h4>
                    <p class="borderLight">
                        06H00 à 19H30 du lundi au vendredi<br />
                        06H00 à 12H30 le samedi<br />
                        Les horaires d'ouvertures seront également en fonction des contrats.
                    </p>
                </div>

            </div>

        </div>

    </div>

</div>
