<!-- Nuage6 : Nos partenaires -->
<div id="nuage6" class="row">
    <!-- Nuage6 : Partenaires contient les logos et un titre en dessous WESH GROS -->

    <h3>Nos Partenaires</h3>
    <hr/>
    <div class="cadre">
        <div class="col s12 m6 l3 presentationPartenaires" ng-repeat='partenaire in vm.partenaires'>
            <img src="{{partenaire.logoPartenaire}}" alt="partenaires" class="imagePartenaires">
            <h5>{{partenaire.titrePartenaire}}</h5>
            <p ng-bind-html='partenaire.descriptionPartenaire'></p>
        </div>
    </div>
</div>
