<!-- Nuage3 : Nos locaux -->
<div>
    <div id="nuage3" class="row">
        <!-- Nuage3 : Encadré de gauche -->
        <div class="col s12">
            <h3>Nos Locaux</h3>
              <div class="cadre">
              </div>

          <!--  <div class="carousel carousel-slider carouselright" data-indicators="true">
                <a class="carousel-item" href="#five!"><img src="https://placehold.it/200x150"></a>
                <a class="carousel-item" href="#six!"><img src="https://placehold.it/200x150"></a>
                <a class="carousel-item" href="#seven!"><img src="https://placehold.it/200x150"></a>
                <a class="carousel-item" href="#eight!"><img src="https://placehold.it/200x150"></a>
            </div>-->
        </div>
    </div>
</div>
