<div class="page container-fluid">
    <div id="nuage2" class="row">
        <!-- Nuage3 : Encadré avec les actualités Facebook -->
        <div id="actualités">
            <h3>
                Les Actualités</h3>
            <p class="cadre">
                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FLa-Mam-aux-Tr%25C3%25A9sors-%25C3%25A0-R%25C3%25A9malard-555980124540600%2F&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=true&appId"
                    width="500"
                    height="500"
                    style="border:none;overflow:hidden"
                    scrolling="no"
                    frameborder="0"
                    allowTransparency="true"></iframe>
            </p>
        </div>
        <!-- Nuage2 : Carrousel -->
        <div class="col s3">
            <div class="carousel carousel-slider" data-indicators="true">
                <a class="carousel-item" href="#one!"><img src="https://placehold.it/200x150"></a>
                <a class="carousel-item" href="#two!"><img src="https://placehold.it/200x150"></a>
                <a class="carousel-item" href="#three!"><img src="https://placehold.it/200x150"></a>
                <a class="carousel-item" href="#four!"><img src="https://placehold.it/200x150"></a>
            </div>
        </div>
    </div>
</div>
