<!-- Nuage6 : Nos partenaires -->
<div id="nuage6" class="row">
    <!-- Nuage6 : Partenaires contient les logos et un titre en dessous WESH GROS -->

    <h3>Nos Partenaires</h3>
    <hr/>
    <div class="cadre">
        <div class="col s2 m2 l2 presentationPartenaires">
            <img src="assets/img/creditagricole.jpg" alt="creditagricole" class="imagePartenaires">
            <h5>Crédit agricole</h5>
        </div>
        <div class="col s2 m2 l2 presentationPartenaires">
          <img src="assets/img/remalard.jpg" alt="Remalard" class="imagePartenaires">
          <h5>Mairie de Rémalard-en-Perche</h5>
        </div>
        <div class="col s2 m2 l2 presentationPartenaires">
          <img src="assets/img/fromentinedecoupee.png" alt="Boulangerie" class="imagePartenaires">
          <h5>Boulanger - Pâtissier</h5>
          <p>Amandine & Jonathan MEZIERES</p>
        </div>
        <div class="col s2 m2 l2 presentationPartenaires">
          <img src="assets/img/JLC.png" alt="JLC" class="imagePartenaires">
          <h5>JL Conditionnement</h5>
        </div>
        <div class="col s2 m2 l2 presentationPartenaires">
          <img src="assets/img/couvreur.jpg" alt="Boulangerie" class="imagePartenaires">
          <h5>Jérôme MAILLARD</h5>
          <p>Artisan couvreur</p>
        </div>
        <div class="col s2 m2 l2 presentationPartenaires">
          <img src="assets/img/fromentinedecoupee.png" alt="Boulangerie" class="imagePartenaires">
          <h5>Boulanger - Pâtissier</h5>
        </div>
    </div>
</div>
