<div class="parallax-container">
    <div class="parallax"><img src="assets/img/comptine.jpg"></div>
    <!-- Nuage1-->
    <!-- Image haut du nuage 1 -->
    <div class="nuagehaut">
        <img src="assets/img/nuageblanc.png">
    </div>
</div>
<!-- Nuage1 : Qui Sommes-Nous? -->
<div class="page container-fluid">
    <div id="nuage1" class="row">
        <!-- Nuage1 : Carrousel -->
        <div class="carrousel col s4"></div>
        <!-- Nuage1 : Encadré de droite -->
        <div id="quisommesnous" class="col s8">
            <h3>Qui sommes-nous?</h3>
        </div>
    </div>
</div>
